@model RegSystem.WebUI.Models.CoursesListViewModel
@{
    ViewBag.Title = "Courses";
}
@foreach (var p in Model.Courses)
{
    @Html.Partial("CourseSummary", p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>